.DS_Store
.tmux
.editorconfig
.prettierrc

automatic_backups
yarn.lock

# stow ignores
.stow-local-ignore

# karabiner ignores
package.json
rules.ts
utils.ts
types.ts
.gitignore

# zed ignores
embeddings
prompts
